<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Informação de Contato</h1>
    </header>

    <main>
        <p>Equipe de desenvolvimento composta por Pedro Lucas Rodrigues Reis e Guilherme Jorge Santos Prates, ambos no 6° período de Engenharia da Computação, entusiasmados em aprender e aplicar seus aprendizados em seu cotidiano.</p>
    </main>

    <footer>
        <p>&copy; 2024 Meu Mapa. Todos os direitos reservados.</p>
    </footer>
</body>
</html>